.devcontainer/
Myapp/.vscode/
Myapp/static/image/
Myapp/lib/__pycache__/
Myapp/templates/messages.html
ngrok
Jetson_nano/tf-pose-estimation/
Jetson_nano/tf_pose/__pycache__/
Jetson_nano/data/
output.avi
Myapp/lib/tf-pose-estimation/